

.main{
    background-color:#f0f2f5;
    width: 100%;
    height: 500px;
    
}
.header{
    width: 100%;
    height: 90px;
    background-color: #3d5b99;
    color:aliceblue;
   
    margin-top: 0;
}
.fbname{
   
    width: 50%;
    height: 100%;
    float:left;
}
.login{
    width: 50%;
    height: 100%;
   
    float: left;
}
#fb{
    color: white;
    font-family: verdana;
    margin-left: 6pc;
    margin-top: 2pc;
}
#email{
    height: 90px;
    width: 50%;
    float:left;
    
    margin-top: -3.5%;
}
#password{
    height: 90px;
    width: 50%;
    
    float: left;
    margin-top: -18px;
}

    

#emailor-phone{
    margin-left: 65px;
}
#gmail{
    margin-left: 65px;
}
#log-button{
    background-color: mediumblue;
    color: aliceblue;
}
#left-section{
    width:55%;
    height: 250px;
    float:left;
   
}
#right-section{
    width:45%;
    height: 250px;
   
    float: right;
}
#phone{
    width: 335px;
    border-radius: 8px;
}
#newpass{
    border-radius: 8px;
    width: 335px;
}
#sign{
    background: none;
    background-color: #00a400;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    overflow: hidden;
    padding: 0 32px;
    text-shadow: none;
}
#firstname{
    border-radius: 8px;

}
#sure-nam{
    border-radius: 8px;
}
